<footer id="footer">
    <div>                                     
        <h4 class="tfooter">Nosotros</h4>
        <p class="cfooter">¿Quienes SONNNN? </p>
    </div>
    <div>
        <h4 class="tfooter">Ayuda</h4>
        <p class="cfooter">Preguntas Frecuentes</p>
    </div>
    <div>
        <h4 class="tfooter">Follow us</h4>
        <p class="cfooter">Instagram</p>
    </div>
    <h4 class="cfooter">Contacto</h4>
    </footer>