<header id="header">
    <img class="logoL" src="/images/IconSimetric.png" alt="Algo falló con la imagen.">
    <img id="logo" src="/images/ICON.PNG" alt="Algo falló con la imagen.">
    <img class="logoL" src="/images/IconSimetric.png" alt="Algo falló con la imagen.">
</header>
<nav id="navBar"> 
    <div id="leftMenu">
<section>
    <span class="material-symbols-outlined" id="categoryC">
        close
        </span>
    <p class="category"> Remeras </p>
    <p class="category"> Hoddies </p>
    <p class="category"> Pantalones </p>
    <p class="category"> Accesorios </p>
    <p class="category"> SALE! </p>


</section>
    </div>

    <div id="rightMenu">
        <section>
            <span class="material-symbols-outlined">
                close
                </span>
            <p class="categoryTitle"> Carrito </p>
            <p class="category"> Accesorios </p>
            <button class="rButton"> Comprar</button>
        
        
        </section>
            </div>
    
    <p class="title1"><span class="material-symbols-outlined" id="simbol">
        menu </span><a href="/allProducts"> <p id="products"> ALL PRODUCTS</p></a> </p>
    <p class="title"><span class="material-symbols-outlined" id="simbol">
        person
        </span>
    <span class="material-symbols-outlined" id="simbol">
        search
        </span>
    <span class="material-symbols-outlined" id="simbol">
        shopping_cart
        </span></p>
</nav>
<script type= 'text/javascript' src="/javascripts/header.js"></script>