<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body>
        <%- include('../views/partials/header'); %>
            <div id="container2">
                <article class="item">
                    <img src="/images/hoodi1.jpg" alt="">
                    <p id="name">Hoodie Storm</p>
                    <p id="price"> 20.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera1.jpg" alt="">
                    <p id="name">Remera Beach</p>
                    <p id="price">14.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera2.jpg" alt="">
                    <p id="name">Remera Dog</p>
                    <p id="price">12.000</p>
                </article>
                <article class="item">
                    <img src="/images/shirt1.jpg" alt="">
                    <p id="name">Camisa Name</p>
                    <p id="price">23.000</p>
                </article>
                <article class="item">
                    <img src="/images/hoodi1.jpg" alt="">
                    <p id="name">Hoodie Storm</p>
                    <p id="price"> 20.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera1.jpg" alt="">
                    <p id="name">Remera Beach</p>
                    <p id="price">14.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera2.jpg" alt="">
                    <p id="name">Remera Dog</p>
                    <p id="price">12.000</p>
                </article>
                <article class="item">
                    <img src="/images/shirt1.jpg" alt="">
                    <p id="name">Camisa Name</p>
                    <p id="price">23.000</p>
                </article>
                <article class="item">
                    <img src="/images/hoodi1.jpg" alt="">
                    <p id="name">Hoodie Storm</p>
                    <p id="price"> 20.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera1.jpg" alt="">
                    <p id="name">Remera Beach</p>
                    <p id="price">14.000</p>
                </article>
                <article class="item">
                    <img src="/images/remera2.jpg" alt="">
                    <p id="name">Remera Dog</p>
                    <p id="price">12.000</p>
                </article>
                <article class="item">
                    <img src="/images/shirt1.jpg" alt="">
                    <p id="name">Camisa Name</p>
                    <p id="price">23.000</p>
                </article>
            </div>


        
    <%- include('../views/partials/footer'); %>
</body>
</html>