<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body>
        <%- include('../views/partials/header'); %>
        <section class="preShipping">
            <form action="">
                <label for=""> Nombre:
                    <input type="text" value="" name="name">
                </label>
                
            </form>
        </section>


        <%- include('../views/partials/footer'); %>
</body>
</html>