<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body>
        <%- include('../views/partials/header'); %>
        
    <section id="mainSec">
        <img src="/images/A.jpg" alt="">
    </section>
    <section id="mainSecL">
        <img src="/images/A.jpg" alt="">
    </section>
    <div id="container">
        <article class="item">
            <img src="/images/hoodi1.jpg" alt="">
            <p id="name">Hoodie Storm</p>
            <p id="price"> 20.000</p>
        </article>
        <article class="item">
            <img src="/images/remera1.jpg" alt="">
            <p id="name">Remera Beach</p>
            <p id="price">14.000</p>
        </article>
        <article class="item">
            <img src="/images/remera2.jpg" alt="">
            <p id="name">Remera Dog</p>
            <p id="price">12.000</p>
        </article>
        <article class="item">
            <img src="/images/shirt1.jpg" alt="">
            <p id="name">Camisa Name</p>
            <p id="price">23.000</p>
        </article>
    </div>
    <section id="banner">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jCtHvEnOAG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </section>
        <%- include('../views/partials/footer'); %>
        
    </body>
</html>